$animationTime: 0.5s;
$animationTime2: $animationTime/2;
$easeMode: ease-out;
$easeMode2: ease-in;
$offset: 100%;
$offset2: 100%;


.productContainer {
  background: #dedede4d;
  border-radius: 5px;
  margin-bottom: 5%;
  box-shadow: 0px 0px 4px 1px #000000;
  // filter: blur(2px);
  border-left: solid 6px red;
  padding-left: 0px;
  overflow: hidden;
  position: relative;
}

.productInside {
  min-height: 1rem;
  max-height: 6rem;
  overflow: hidden;
}

.productImage {
  max-height: 100%;
  max-width: 100%;
  transform: translateY(-50%);
}

.quantityGauge {
  background: green;
  height: 6rem;
}

.editContainer {
  // display: flex;
  position: absolute;
  top: 50%;
  // left: 50%;
  transform: translateY(-50%);
  // top: 0;
  left: 0;
  width: 100%;
}


.displayFadeOut {
  -ms-transform: translateX($offset);
  -webkit-transform: translateX($offset);
  transform: translateX($offset);
  -webkit-transition: $animationTime2 $easeMode2;
  -moz-transition: $animationTime2 $easeMode2;
  -o-transition: $animationTime2 $easeMode2;
  transition: $animationTime2 $easeMode2;
  opacity: 0;
  visibility: hidden;
}

.fadeIn {
  opacity: 1;
  visibility: visible;
  -webkit-transition: $animationTime $easeMode;
  -moz-transition: $animationTime $easeMode;
  -o-transition: $animationTime $easeMode;
  transition: $animationTime $easeMode;
}

.editFadeOut {
  -ms-transform: translate(-$offset2, -50%);
  -webkit-transform: translate(-$offset2, -50%);
  transform: translate(-$offset2, -50%);
  -webkit-transition: $animationTime2 $easeMode2;
  -moz-transition: $animationTime2 $easeMode2;
  -o-transition: $animationTime2 $easeMode2;
  transition: $animationTime2 $easeMode2;
  opacity: 0;
  visibility: hidden;
}
